@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.row {
    width: 100%;
    padding: 32px;
    margin: 0 auto;
    max-width: 1200px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    height: 50px;
}

.logo__img {
    width: 40px;
    margin-right: 8px;
}

.logo__link {
    font-size: 24px;
    color: #243e63;
    font-weight: 900;
    text-decoration: none;
    transition: all 300ms ease;
}

.logo__link:hover {
    color: #6415FF;
}

.nav__links {
    display: flex;
    width: 100%;
    max-width: 700px;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    list-style-type: none;
    margin-left: 16px;
}

.nav__link--list {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: all 300ms ease;
}

.nav__link--list:hover {
    color: #6415FF;
    text-decoration: underline;
}

.nav__link--primary {
    background-color: #6415FF;
    padding: 12px 26px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: #4613aa;
}

.container {
    padding: 96px 0;
}

.landing-all {
    display: flex;
    width: 100%;
    max-height: 450px;
}

.landing-left__title {
    font-size: 36px;
    font-weight: 600;
}

.landing-left__para {
    padding: 36px 0;
    font-weight: 400;
}

.landing-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.purple {
    color: #6415FF;
}

.bar {
    background-color: #6415FF;
    padding: 18px 24px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: all 300ms ease;
    border: none;
    position: absolute;
    transform: translateX(-126px) translateY(4px);
}

.bar:hover {
    background-color:#4613aa;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 20px 192px 20px 34px;
    border: 2px solid rgba(128, 128, 128, 0.404);
    border-radius: 50px ;
    transition: all 300ms ease;
    position: relative;
}

input:hover {
    border: 2px solid rgba(128, 128, 128, 0.658);
}

h6 {
    font-size: 14px;
    margin-top: 54px;
    color: rgb(75, 75, 75);
    opacity: 0.5;
}

.landing-left__img--wrapper {
    display: flex;
    margin-top: 24px;
}

.landing-left__img {
    width: 100%;
    opacity: 0.5;
}

.landing-right {
    width: 60%;
}

.landing-right__img--wrapper {
    display: flex;
    width: 100%;
    justify-content: end;
}

.landing-right__img {
    width: 100%;
}

/* FEATURES */

.features__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #243e63;
    padding: 24px 0;
}

.features__heading--para {
    max-width: 500px;
    text-align: center;
    color: gray;
    font-size: 20px;
    padding-bottom: 24px;
}

.services {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1000px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 24px;
}

.service__description {
    display: flex;
    flex-direction: column;
}

.service__description--title {
    font-weight: 600;
    color: #643e63;
    padding: 24px 0;
}

.service__description--para {
    color: gray;
    font-size: 16px;
    font-weight: 500;
}

.service__img-container {
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 75px;
    margin: 16px;
}

.service__img {
    padding: 16px;
}

/* PROJECTS */

button {
background-color: #6415FF;
padding: 16px 32px;
color: white;
border-radius: 25px;
text-decoration: none;
transition: all 300ms ease;
border: none;
}

button:hover {
    background-color:#4613aa;
    cursor: pointer;
}

.projects {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.projects__description {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: start;
}

.projects__description--para {
    font-weight: 500;
    font-size: 18px;
    color: gray;
    padding: 16px  16px 32px 0;
}

.projects__img {
    width: 50%;
    display: flex;
}

.projects__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projects__img--picture {
    width: 100%;
}

/* STEPS */

.steps {
    display: flex;
    max-width: 100%;
}

.number {
    display: flex;
    max-width: 20%;
    padding-right: 24px;
    padding-top: 4px;
}

.nmbr {
    font-weight: 600;
    font-size: 40px;
    opacity: 0.25;
}

.steps__description {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding-top: 8px;
    justify-content: center;
}

.steps__description--heading {
    font-weight: 500;
    font-size: 24px;
    color: #243e63;
}

.steps__description--para {
    padding: 24px 0;
    opacity: 0.75;
}

.projects__description {
    padding-left: 64px;
}

.project__description-columns {
    display: flex;
}

h3 {
    font-size: 20px;
    color: #243e63;
}

.projects__header {
    display: flex;
    align-items: center;
}

.projects__header--img {
    padding: 8px;
    width: 36px;
    height: 36px;
    border-radius: 75px;
    margin-right: 16px;
}

.dollar {
    background-color: #9ae6b4;
}

.briefcase {
    background-color: #feb2b2;
}

.fas {
    width: 100%;
    font-size: 20px;
    text-align: center;
    opacity: 0.5;
}

/* PRICING */

.pricing__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pricing__header--para {
    font-weight: 500;
    font-size: 18px;
    color: gray;
    text-align: center;
    max-width: 700px;
    margin-bottom: 24px;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plan {
    width: calc(100% /4);
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px rgba(0, 0, 0, 0.13) solid;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgb(0 0 0 / 16%);
    margin:16px 24px;
}

li {
    list-style: none;
    color: gray;
    font-weight: 500;
    margin-top: 16px;
}

.plan__header--title {
    font-size: 20px;
}

.plan__header--price {
    font-size: 48px;
    padding: 16px;
}

.black {
    color: #000;
}

.gray {
    color: rgba(128, 128, 128, 0.479);
}

.plan__header {
    padding-top: 24px;
}

hr {
    margin: 24px 0;
    border: 1px rgba(0, 0, 0, 0.13) solid;
}

.hr__white {
    border: 1px rgba(255, 255, 255, 0.438) solid;
}

.plan__button {
    padding-bottom: 24px;
}

.btn__blue {
    background-image: linear-gradient(to right, rgba(18, 252, 201, 0.555), rgb(18, 252, 201));
    padding: 16px 48px;
    font-weight: 600;
}

.btn__blue:hover {
    transform: translateX(1px) translateY(-1px);
    box-shadow: 0 4px 16px rgb(0 0 0 / 24%);
}

.plan__blue {
    background-image: linear-gradient(to right, rgb(68, 0, 255), rgba(0, 17, 255, 0.384) );
    border: none;
}

.white {
    color: white;
}

.btn__white {
    background-color: white;
    padding: 16px 48px;
    color: #243e63;
    font-weight: 600;
}

.btn__white:hover {
    background-color: white;
    transform: translateX(1px) translateY(-1px);
    box-shadow: 0 4px 16px rgb(0 0 0 / 24%);
}

.btn__red {
    background-image: linear-gradient(to right, rgba(255, 64, 64, 0.555), rgb(245, 101, 101));
    padding: 16px 48px;
    font-weight: 600;
}

.btn__red:hover {
    transform: translateX(1px) translateY(-1px);
    box-shadow: 0 4px 16px rgb(0 0 0 / 24%);
}

/*FOOTER*/

#footer {
    background-color: #6415FF;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 56px;
    justify-content: space-between;
}

.footer__link--column {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
}

.link-title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.footer__link {
text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    transition: all 300ms ease;
}

.footer__link:hover{
    text-decoration: underline;
}

.footer__info {
    padding-top: 48px;
}

.footer__info--img {
    display: flex;
    align-items: center;
}

.footer__info--title {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.footer__copyright {
    font-weight: 500;
    color: rgb(199, 199, 199);
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 16px;
}

.footer__icon {
    padding-left: 16px;
}

.footer__icon--link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    padding: 16px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    text-decoration: none;
    transition: all 300ms ease;
}

.footer__icon--link:hover {
    background-color: rgba(255, 255, 255, 0.664);
}

@media (max-width: 1023px) {
    
    .landing-left {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .landing-all {
        flex-wrap: wrap;
        margin-bottom: 96px;
    }

    .landing-left__para {
        max-width: 600px;
    }

    .landing-left__title {
        font-size: 28px;
    }

    .landing-left__img {
        width: 70%;
        display: flex;
    }

    .landing-left__img--wrapper {
        display: flex;
        justify-content: center;
    }

    .landing-right {
        width: 100%;
    }

    .landing-right__img--wrapper {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    .landing-right__img {
        width: 600px;
        padding: 16px;
    }

    .features__heading {
        margin-top: 48px;
    }

    .service {
        width: calc(100% / 2);
    }

    .projects__description--para {
        font-size: 16px;
    }

    .h1__secondary {
        font-size: 24px;
    }

    .plan {
        width: 100%;
        max-width: 380px;
    }

    .project__description-columns {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .service {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .projects {
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .projects__description {
        padding-left: 0;
        align-items: center;
    }

    .projects__img {
        width: 600px;
    }

    .projects__description {
        width: 80%;
    }

    .h1__secondary {
        font-size: 32px;
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .number {
        padding-right: 0;
    }

    .projects__description--column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer__links {
        padding-left: 40px;
    }

    .footer__link--column {
        width: calc(100% / 3);
        padding: 0 0 24px 0;
    }

    .footer__info {
        flex-direction: column;
        height: 240px;
    }
}

@media (max-width: 672px) {
    .bar {
        background-color: #6415FF;
        padding: 18px 24px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        transition: all 300ms ease;
        border: none;
        position: relative;
        transform: translateX(-0px) translateY(0px);
        width: 80%;
        margin-top: 16px;
}
    .landing-right__img {
        width: 80%;
    }

    .projects__img--picture {
        width: 80%;
    }

    h1 {
        text-align: center;
    }
}

@media (max-width: 576px) {
    h1, .h1__secondary {
        font-size: 26px;
    }
    
    .landing-right__img {
        width: 80%;
    }

    .projects__img--picture {
        width: 50%;
        margin: 8px;
    }

    input {
        padding: 20px 0 20px 34px;
        border: 2px solid rgba(128, 128, 128, 0.404);
        border-radius: 50px;
        transition: all 300ms ease;
        margin: 0 8px;
        width: 100%;
    }

    .bar {
        background-color: #6415FF;
        padding: 18px 24px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        transition: all 300ms ease;
        border: none;
        transform: translateX(0px) translateY(0px);
        width: 80%;
    }

    .link-title {
        font-size: 16px;
    }

    .footer__link {
        font-size: 14px;
    }
}